<%= form_with(model: @practice_diary, local: true) do |f| %>
  <% if @practice_diary.errors.present? %>
      <div id="error_explanation">
        <h2><%= @practice_diary.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @practice_diary.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
  <% end %>
  <div class="form-group">
    <%= f.label :練習日 %>
    <%= f.date_select :practice_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :practice_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :詳細 %>
    <%= f.text_area :practice_content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :走行距離 %>
    <%= f.number_field :practice_distance, step: '0.1', class: 'form-control' %> km
  </div>
  <div class="form-group">
    <%= f.label :走行時間 %>
    <%= f.time_select :practice_time, class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.submit %>
  </div>
<% end %>