<div class="row">
  <%= render partial: 'layouts/flash' %>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @practice_diary, local: true) do |f| %>
      <% if @practice_diary.errors.present? %>
          <div id="error_explanation">
            <h2><%= @practice_diary.errors.count %>件のエラーがあります。</h2>
              <ul>
                <% @practice_diary.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.label :practice_date %><br>
        <%= f.date_field :practice_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :practice_title %>
        <%= f.text_field :practice_title, class: 'form-control', placeholder: "タイトルを入力してください。（100文字以内）" %>
      </div>
      <div class="form-group">
        <%= f.label :practice_content %>
        <%= f.text_area :practice_content, class: 'form-control', placeholder: "練習の詳細内容を入力してください。（1000文字以内）", size: "10x10" %>
      </div>
      <div class="form-group">
        <%= f.label :practice_distance %>
        <%= f.number_field :practice_distance, step: '0.1', class: 'form-control', placeholder: "走行距離を入力してください。", size: "12", min: 0.0 %> km
      </div>
      <div class="form-group">
        <%= f.label :practice_time %><br>
        <%= f.time_select :practice_time, include_seconds: true, prompt: {hour: '時間', minute: '分', second: '秒'}, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.submit class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>