<h1 class="text-center">〜みんなの練習記録〜</h1>

<% @practice_diaries.each do |practice_diary| %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<%= practice_diary.set_practice_date %>
	</div>
	<div class="panel-body">
		<ul>
			<li><%= User.human_attribute_name(:user_name) %>：<%= link_to practice_diary.user.user_name, user_path(practice_diary.user) %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_title) %>：<%= practice_diary.practice_title %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_content) %>：<%= practice_diary.practice_content %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_distance) %>：<%= practice_diary.practice_distance %>km</li>
			<li><%= PracticeDiary.human_attribute_name(:practice_time) %>：<%= practice_diary.set_practice_time %></li>
			<div id="practice_favorites_buttons_<%= practice_diary.id %>">
        	<%= render partial: 'practice_favorites/practice_favorite', locals: { practice_diary: practice_diary } %>
    	</div>
			<%= link_to '詳細を見る', practice_diary_path(practice_diary) %>
		</ul>
	</div>
</div>
<% end %>