<h1><%= current_user.user_name %>さんの練習記録一覧</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		今月の走行距離は<%= @practice_diaries.this_month_distance %>kmです！
	</div>
	<div class="panel-body">
		<% if current_user.image? %>
			<image src=<%= current_user.image %> class = "icon_image">
		<% else %>
			<image src="/assets/running_icon.png" class = "icon_image">
		<% end %>

		<ul class="list-group">
			<li class="list-group-item">ユーザー名：<%= link_to current_user.user_name, user_path(current_user) %></li>
			<li class="list-group-item">
				目標：
				<% if current_user.target == "" %>
					<%= "まだ目標はありません。" %>
				<% else %>
					<%= current_user.target %>
				<% end %></li>
		</ul>
	</div>
</div>

<%= month_calendar(attribute: :practice_date, events: @practice_diaries)  do |date, practice_diaries| %>
  <%= date %>

  <% practice_diaries.each do |practice_diary| %>
    <div>
      <%= link_to practice_diary.practice_title, practice_diary %>
			<%= practice_diary.practice_distance %> km
    </div>
  <% end %>
<% end %>

<table>
	<thead>
		<tr>
			<th>投稿ユーザ</th>
			<th>練習日</th>
			<th>タイトル</th>
			<th>詳細</th>
			<th>走行距離</th>
			<th>走行時間</th>
		</tr>
	</thead>
	<tbody>
		<% @practice_diaries.each do |practice_diary| %>
			<tr>
				<td><%= link_to practice_diary.user.user_name, user_path(practice_diary.user)  %></td>
				<td><%= practice_diary.practice_date %></td>
				<td><%= link_to practice_diary.practice_title, practice_diary_path(practice_diary) %></td>
				<td><%= practice_diary.practice_content %></td>
				<td><%= practice_diary.practice_distance %>km</td>
				<td><%= practice_diary.set_practice_time %></td>
			</tr>
		<% end %>
	</tbody>
</table>