<h1 class="text-center">みんなの練習記録</h1>

<div class="container">
	<div class="row">
		<div class="search-form col-md-6 col-sm-8 col-xs-12">
			<h3>検索<small> ※複数条件や部分一致での検索も可能です。</small></h3>
			<%= form_with(scope: :search, url: index_all_practice_diaries_path, method: :get, local: true) do |f| %>
				<div class="form-group">
					<%= f.label(:user_name, User.human_attribute_name(:user_name)) %>
					<%= f.text_field :user_name, value: @search_params[:user_name], class: "form-control", placeholder: "ユーザー名を入力してください" %>
				</div>

				<div class="form-group">
					<%= f.label(:practice_title, PracticeDiary.human_attribute_name(:practice_title)) %>
					<%= f.text_field :practice_title, value: @search_params[:practice_title], class: "form-control", placeholder: "タイトルを入力してください" %>
				</div>

				<div class="form-group">
					<%= f.label(:practice_content, PracticeDiary.human_attribute_name(:practice_content)) %>
					<%= f.text_field :practice_content, value: @search_params[:practice_content], class: "form-control", placeholder: "詳細を入力してください" %>
				</div>

				<div class="form-inline">
					<div class="form-group">
						<%= f.label(:practice_date, PracticeDiary.human_attribute_name(:practice_date)) %><br>
						<%= f.date_field :practice_date_from, value: @search_params[:practice_date_from], class: "form-control" %> ~ <%= f.date_field :practice_date_to, value: @search_params[:practice_date_to], class: "form-control" %>
					</div>
				</div>
				<div class="form-group">
					<br><%= f.submit '検索', class: "btn btn-info" %><%= link_to 'クリア', index_all_practice_diaries_path, class: "btn btn-danger"%>
				</div>
			<% end %>
		</div>
	</div>

	<%= paginate @practice_diaries %>

	<% if @practice_diaries.present? %>
		<p>
		<%= @practice_diaries.total_count %>件中<%= @practice_diaries.offset_value + 1 %>
		〜<%= @practice_diaries.offset_value + @practice_diaries.length %>件を表示しています。
		</p>
	<% else %>
		<h3>まだ練習記録が投稿されていません。</h3>
	<% end %>

	<br>

	<div class="row">
		<% @practice_diaries.each do |practice_diary| %>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<%= practice_diary.set_practice_date %>
					</div>
					<div class="panel-body">
							<p>
								<% if practice_diary.user.image? %>
									<image src=<%= practice_diary.user.image %> class = "sm_icon_image"><%= link_to practice_diary.user.user_name, user_path(practice_diary.user_id) %>さん
								<% else %>
									<image src="/assets/default_icon.png" class = "sm_icon_image"><%= link_to practice_diary.user.user_name, user_path(practice_diary.user_id) %>さん
								<% end %>
							</p>
							<p><%= PracticeDiary.human_attribute_name(:practice_title) %>：<%= practice_diary.practice_title %></p>
							<p><%= PracticeDiary.human_attribute_name(:practice_content) %>：<%= practice_diary.practice_content.truncate(30) %></p>
							<p><%= PracticeDiary.human_attribute_name(:practice_distance) %>：<%= practice_diary.practice_distance %>km</p>
							<p>平均ペース：<%= pace_cal(practice_diary.practice_time, practice_diary.practice_distance) %>/km</p>
							<p><%= link_to '詳細を見る', practice_diary_path(practice_diary) %></p>
							<h3 id="practice_favorites_buttons_<%= practice_diary.id %>" class="text-right">
								<%= render partial: 'practice_favorites/practice_favorite', locals: { practice_diary: practice_diary } %>
							</h3>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="text-right">
							<p>投稿日時：<%= localize(practice_diary.updated_at, 'Asia/Tokyo') %></p>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>