<h1>練習記録詳細画面</h1>

<%= link_to "編集する", edit_practice_diary_path(@practice_diary) %>
<%= link_to "削除する", practice_diary_path(@practice_diary), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>

<table>
	<tbody>
		<tr>
			<th><%= User.human_attribute_name(:user_name) %></th>
			<td><%= @practice_diary.user.user_name %></td>
		</tr>
		<tr>
			<th><%= PracticeDiary.human_attribute_name(:practice_date) %></th>
			<td><%= @practice_diary.set_practice_date %></td>
		</tr>
		<tr>
			<th><%= PracticeDiary.human_attribute_name(:practice_title) %></th>
			<td><%= @practice_diary.practice_title %></td>
		</tr>
		<tr>
			<th><%= PracticeDiary.human_attribute_name(:practice_content) %></th>
			<td><%= @practice_diary.practice_content %></td>
		</tr>
		<tr>
			<th><%= PracticeDiary.human_attribute_name(:practice_distance) %></th>
			<td><%= @practice_diary.practice_distance %>km</td>
		</tr>
		<tr>
			<th><%= PracticeDiary.human_attribute_name(:practice_time) %></th>
			<td><%= @practice_diary.set_practice_time %></td>
		</tr>
	</tbody>
</table>

<% if @practice_diary.user_id != current_user.id %>
	<% if @practice_diary.favorited_by?(current_user) %> 
		<p><span>いいね！解除: </span><%=link_to @practice_diary.practice_favorites.count, practice_diary_practice_favorites_path(@practice_diary.id), method: :delete %></p>
	<% else %>
		<p><span>いいね！登録: </span><%=link_to @practice_diary.practice_favorites.count, practice_diary_practice_favorites_path(@practice_diary.id), method: :post %></p>
	<% end %>
<% else %>
	<p><span>いいね！数: </span><%= @practice_diary.practice_favorites.count %></p>
<% end %>