<h1>練習記録詳細画面</h1>

<%= link_to "編集", edit_practice_diary_path(@practice_diary) %>
<%= link_to "削除", practice_diary_path(@practice_diary), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @practice_diary.set_practice_date %>
	</div>
	<div class="panel-body">
		<ul>
			<li><%= User.human_attribute_name(:user_name) %>：<%= link_to @practice_diary.user.user_name, user_path(@practice_diary.user) %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_title) %>：<%= @practice_diary.practice_title %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_content) %>：<%= @practice_diary.practice_content %></li>
			<li><%= PracticeDiary.human_attribute_name(:practice_distance) %>：<%= @practice_diary.practice_distance %>km</li>
			<li><%= PracticeDiary.human_attribute_name(:practice_time) %>：<%= @practice_diary.set_practice_time %></li>
			<div id="practice_favorites_buttons_<%= @practice_diary.id %>">
        <%= render partial: 'practice_favorites/practice_favorite', locals: { practice_diary: @practice_diary} %>
      </div>
		</ul>
	</div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p>コメント一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'practice_comments/index', locals: { practice_comments: @practice_comments, practice_diary: @practice_diary } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'practice_comments/form', locals: { practice_comment: @practice_comment, practice_diary: @practice_diary } %>
</div>