<h1>練習記録詳細画面</h1>

<%= link_to "練習記録一覧", practice_diaries_path %>
<%= link_to "編集する", edit_practice_diary_path(@practice_diary) %>
<%= link_to "削除する", practice_diary_path(@practice_diary), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>

<table>
	<tbody>
		<tr>
			<th>練習日</th>
			<td><%= @practice_diary.practice_date %></td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td><%= @practice_diary.practice_title %></td>
		</tr>
		<tr>
			<th>詳細</th>
			<td><%= @practice_diary.practice_content %></td>
		</tr>
		<tr>
			<th>走行距離</th>
			<td><%= @practice_diary.practice_distance %>km</td>
		</tr>
		<tr>
			<th>走行時間</th>
			<td><%= @practice_diary.set_practice_time %></td>
		</tr>
	</tbody>
</table>