<!-- フォローボタン ------------------------------------------------------------------>
<li class="list-group-item">
  <h4 class="list-group-item-heading">他ユーザとのつながり</h4>
  <p class="list-group-item-text">
    <%= link_to following_user_path(@user) do %>
      フォロー：<%= @user.following.count %>人
    <% end %>/
    <%= link_to followers_user_path(@user) do %>
      フォロワー：<%= @user.followers.count %>人
    <% end %>
  </p>
</li>

<br>
<%= form_for(current_user, url: friendships_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :following_id, @user.id %>
  <%= f.submit "フォローする", class: "btn btn-primary" %>
<% end %>