<!-- フォロー解除ボタン ------------------------------------------------------------------>
<li class="list-group-item">
  <%= link_to followers_user_path(@user) do %>
    フォロワー：<%= @user.followers.count %>人
  <% end %>

  <%= link_to following_user_path(@user) do %>
    フォロー：<%= @user.following.count %>人
  <% end %>
</li>

<br>
<%= form_for(current_user, url: friendship_path(@user), method: :delete, remote: true) do |f| %>
  <%= f.submit "フォロー解除", class: "btn btn-danger" %>
<% end %>