<div class="container">
  <div class="row">
    <h2>ユーザー管理</h2>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr class="info">
            <th><%= User.human_attribute_name(:user_name) %></th>
            <th>メールアドレス</th>
            <th>フォロー中</th>
            <th>フォロワー</th>
            <th>記録投稿数</th>
            <th>会員登録日時</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.user_name.truncate(24), user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.following.count %>人</td>
              <td><%= user.followers.count %>人</td>
              <td><%= user.practice_diaries.count %>件</td>
              <td><%= localize(user.created_at, 'Asia/Tokyo') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>