<div class="panel panel-primary">
	<div class="panel-heading">
		<strong><%= @user.user_name %>さんのプロフィール</strong>
	</div>
	<div class="row">
		<div class="panel-body">
			<div class="col-md-4">
				<% if @user.image? %>
					<image src=<%= @user.image %> class = "icon_image">
				<% else %>
					<image src="/assets/default_icon.png" class = "icon_image">
				<% end %>
			</div>

			<div class="col-md-8">
				<ul class="list-group">
					<li class="list-group-item">
						<strong><%= User.human_attribute_name(:user_name) %>：<%= @user.user_name %></strong>
					</li>
					<li class="list-group-item">
						<strong><%= User.human_attribute_name(:self_introduction) %>：
						<% if @user.self_introduction == "" %>
							<%= "まだ自己紹介はありません。" %>
						<% else %>
							<%= simple_format @user.self_introduction %>
						<% end %>
						</strong>
					</li>
					<li class="list-group-item">
						<strong><%= User.human_attribute_name(:target) %>：
						<% if @user.target == "" %>
							<%= "まだ目標はありません。" %>
						<% else %>
							<%= simple_format @user.target %>
						<% end %>
						</strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<br>
<% if current_user.id == @user.id %>
	<%= link_to "編集", edit_user_registration_path(current_user.id) %>
<% end %>

<div class="follower">
	<%= link_to followers_user_path(@user) do %>
  	<h5 style="color: black;">フォロワー：<%= @user.followers.count %>人</h5>
	<% end %>
</div>
<div class="follow">
	<%= link_to following_user_path(@user) do %>
	  <h5 style="color: black;">フォロー：<%= @user.following.count %>人</h5>
	<% end %>
</div>
<div>
		<%= render "follow_form" %>
</div>