<div class="container">
  <div class="row">
    <h2><%= @user.user_name %>さんがフォロー中のユーザ</h2>

    <% if @user.following.present? %>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr class="info">
            <th><%= User.human_attribute_name(:user_name) %></th>
            <th><%= User.human_attribute_name(:self_introduction) %></th>
            <th><%= User.human_attribute_name(:target) %></th>
          </tr>
        </thead>
        <tbody>
          <% @user.following.each do |user| %>
            <tr>
              <td><%= link_to user.user_name.truncate(24), user_path(user) %></td>
              <% unless user.self_introduction == "" %>
                <td><%= user.self_introduction.truncate(24) %></td>
              <% else %>
                <td>まだ自己紹介がありません。</td>
              <% end %>
              <% unless user.target == "" %>
                <td><%= user.target.truncate(24) %></td>
              <% else %>
                <td>まだ目標がありません。</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>フォローしているユーザがいません！</h3>
    <% end %>

    <h5><%= link_to 'プロフィールに戻る', user_path(@user) %></h5>
  </div>
</div>