<h1>イベント詳細</h1>

<p>イベント開催日時：<%= @event.event_date %></p>
<p>イベントタイトル：<%= @event.event_title %></p>
<p>イベント詳細：<%= @event.event_content %></p>
<p>最小催行人数：<%= @event.minimum_number_of_participant %>人</p>
<p>場所：<%= @event.address %></p>