<%= form_with(model: [practice_diary, practice_comment]) do |form| %>
  <% if practice_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice_comment.errors.count, "error" ) %> prohibited this comment from being saved:</h2>
      <ul>
      <% practice_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :practice_comment_content %>
    <%= form.text_area :practice_comment_content %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>