<% if practice_diary.user_id != current_user.id %>
  <% if practice_diary.favorited_by?(current_user) %>
    <%=link_to practice_diary_practice_favorites_path(practice_diary.id), method: :delete, remote: true do %>
      <span class="glyphicon glyphicon-heart fav-btn-on" aria-hidden="true"></span>
    <% end %>
    <span class="badge"><%= practice_diary.practice_favorites.count %></span>
  <% else %>
    <%=link_to practice_diary_practice_favorites_path(practice_diary.id), method: :post, remote: true do %>
      <span class="glyphicon glyphicon-heart fav-btn" aria-hidden="true"></span>
    <% end %>
    <span class="badge"><%= practice_diary.practice_favorites.count %></span>
  <% end %>
<% else %>
  <p><span class="glyphicon glyphicon-heart fav-btn-on" aria-hidden="true"></span><span class="badge"><%= practice_diary.practice_favorites.count %></span></p>
<% end %>